name: Build and deploy to GitHub Pages

on:
  push:
    paths:
      - 'content/**'
      - 'themes/**'

  # Allow manual running
  workflow_dispatch:

concurrency:
  group: "gh-pages"
  cancel-in-progress: false

jobs:
  build:
    name: "Build and Deploy Site"
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v3
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          tailwindcss_install

      - name: Generate output
        run: |
          make publish
          cp highlights.css output/

      - name: "Verify output directory"
        run: |
          echo "Contents of the output directory:"
          ls -l output

      - name: "Archive built site"
        uses: actions/upload-artifact@v4
        with:
          path: |
            output/
            .gitignore

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./output
          publish_branch: gh-pages
          keep_files: false
          allow_empty_commit: false
